body.toolbar-hidden.toolbar-hidden {
  padding-top: 0 !important;
  margin-left: 0 !important;
}

body.toolbar-hidden.toolbar-hidden > .toolbar,
body.toolbar-hidden.toolbar-hidden > .gin-secondary-toolbar {
  display: none;
}
